.maskGradient {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 75%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 75%
  );
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

@media (max-width: 768px) {
  .maskGradient {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0) 75%
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0) 85%
    );
  }
}
